<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Ngó qua
</li>
<li class="drawer-list-item">
  <a href="http://tetrisbattles.com" target="_blank">
    <i class="fa fa-game"></i>Tetris battles　| tetrisbattles.com
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://happydev.xyz:8080/" target="_blank">
    <i class="fa fa-game"></i>Hỏi đáp Onegai　| onegai.xyz
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Tìm tôi trên
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/chienkira" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.facebook.com/chienkira" target="_blank">
    <i class="fa fa-facebook"></i>Facebook
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/chienkira" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Đăng ký RSS
  </a>
</li>