<footer role="contentinfo" class="footer">
  <p><small>kira-dev.com © {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small>Based on <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> </small>
     <small>Powered by <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
